.wp-block-button{
  a {
    text-align: center;
    width: 100%;
    max-width: 130px;
    display: inline-block;
    font-weight: 700;
    font-size: 14px;
    color: #FFF !important;
    letter-spacing: .2em;
    padding: 10px 0;
    border: 2px solid #FFF;
    border-radius: 5px;
    box-sizing: border-box;
    transition: all 0.5s ease;
    &:hover {
      background: linear-gradient(#333333, #000000);
      text-shadow: 0px 2px 3px #000;
      border-radius: 5px;
    }
  }
}


.btn {
  text-align: center;
  width: 100%;
  max-width: 130px;
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  color: #FFF!important;
  letter-spacing: .2em;
  padding: 10px 0;
  background: linear-gradient(#DA3A05, #BB2F00);
  border: 2px solid #FFF;
  border-radius: 5px;
  box-sizing: border-box;
  &:hover{
    background: linear-gradient(#333333, #000000);
    text-shadow: 0px 2px 3px #000;
    border-radius: 5px;
  }
}
