a {
  -webkit-transition: all .5s ease;
  text-decoration: none !important;
  text-decoration: none;
  transition: all .5s ease;
  color: #555;
  &:visited {
    -webkit-transition: all .5s ease;
    text-decoration: none !important;
    text-decoration: none;
    transition: all .5s ease;
    color: #555;
  }
  &:hover {
    text-shadow: 0px 0px 5px #000;
  }
  &:focus {
    outline: none !important;
  }
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  line-height: 110%;
  margin: 0 auto;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 52px;
  strong{
    font-weight: 600;
  }
}

h2 {
  font-family: 'Mistral';
  font-size: 44px;
}

h3 {
  font-size: 25px;
  font-weight: 700;
}

p, ul, ol {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: .03em;
  line-height: 180%;
  font-weight: 400;
  font-size: 15px;
  color: #535353;
}

p:last-of-type {
  margin: 0 !important;
}

@media screen and (max-width: 500px) {
  h1, h2 {
    font-size: 40px;
  }
}
