.ctc-hide{display: none}
.q-form{
    form{
        text-align: center;
        br{display: none;}
        input[type="text"],input[type="email"],input[type="tel"]{
            border-radius: 50px;
            border: none;
            box-sizing: border-box;
            width: 100%;
            height: 40px;
            margin: 0 auto 10px;
            padding: 10px 15px;
            font-family: "Raleway" , sans-serif;
            font-weight: 300;
            font-size: 16px;
            color: #535353;
        }
        textarea{
            border-radius: 20px;
            border: none;
            box-sizing: border-box;
            width: 100%;
            height: 90px;
            margin: 0 auto 10px;
            padding: 10px 15px;
            font-family: "Raleway" , sans-serif;
            font-weight: 300;
            font-size: 16px;
            color: #535353;

        }
        .consent{
            text-align: center;
            font-family: 'Raleway', sans-serif;
            font-weight: 400;
            font-size: 16px;
            color: #FFFFFF;
            padding: 0;
            margin: 0 0 10px;
            span{
                margin: 0!important;
            }
        }
        .btn{
            max-width: 180px;
            padding: 11.5px 0;
            margin: 10px auto 0;
        }
    }
}