html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: 'Raleway', sans-serif;
  margin: 0 auto;
  width: 100%;
  min-width: 1200px;
}

@media screen and (max-width: 1200px) {
  body {
    min-width: 320px;
  }
}

/*###################################
## Layouts
###################################*/

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  word-wrap: normal !important;
  overflow: hidden;
  height: 1px;
  margin: -1px;
  padding: 0;
  width: 1px;
  border: 0;
}

.wp-block-column, .blocks-gallery-item {
  margin: 0 !important;
}

.has-1-columns .wp-block-column {
  flex-basis: 100%;
}

.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0;
}

.row {
  max-width: 1440px;
  margin: 0 auto;
}

.cta {
  display: none;
}

.grecaptcha-badge {
  z-index: 999999;
}

.has-primary-color{
  color: #5172A7;
}

.has-secondary-color{
  color: #6C9836;
}

.has-third-color {
  color: #91c454;
}

.has-dark-gray-color{
  color: #111111;
}

.has-light-gray-color {
  color: #767676;
}

.has-white-color {
  color: #FFF;
}

.has-linear-gradient-red-color {
  color: #DA3A05;
}

.has-primary-background-color {
  background-color: #5172A7;
}

.has-secondary-background-color {
  background-color: #6C9836;
}

.has-third-background-color {
  background-color: #91c454;
}

.has-dark-gray-background-color {
  background-color: #111111;
}

.has-light-gray-background-color {
  background-color: #767676;
}

.has-white-background-color {
  background-color: #FFF;
}

.has-linear-gradient-red-background-color {
  background: linear-gradient(#DA3A05, #BB2F00);
}
.wp-block-image{
  margin: 0 !important;
}

.home #content .entry-footer{
  text-align: center;
  z-index: 9999;
  position: relative;
}