.site-banner{
    position: relative;
    .img-holder{
        img{
            max-width: 100%;
            width: 100%;
            height: 750px;
            object-fit: cover;
        }
    }
    .wrapper{
        position: absolute;
        top: 5%;
        left: 0;
        right: 0;
        z-index: 2;
        max-width: 1030px;
        margin: 20px auto;
    }
}
.bw-text{
    width: 100%;
    max-width: 476px;
    margin: 0 0 0 auto;
    h2.title {
        text-align: center;
        font-family: "Mistral";
        font-size: 59px;
        line-height: 90%;
        color: #5172A5;
        margin: 20px 0;
        text-shadow: 0 0 1px #FFF,
        0 0 2px #FFF,
        0 0 3px #FFF,
        0 0 4px #FFF,
        0 0 5px #FFF,
        0 0 6px #FFF,
        0 0 7px #FFF,
        0 0 8px #FFF,
        0 0 9px #FFF,
        0 0 10px #FFF;
    }
    p{
        text-align: center;
        font-family: 'Raleway';
        font-size: 19px;
        font-weight: 700;
        line-height: 116%;
        letter-spacing: 3px;
        color: #EA3377;
        text-transform: uppercase;
        text-shadow: 0 0 1px #FFF,
        0 0 2px #FFF,
        0 0 3px #FFF,
        0 0 4px #FFF,
        0 0 5px #FFF,
        0 0 6px #FFF,
        0 0 7px #FFF,
        0 0 8px #FFF,
        0 0 9px #FFF,
        0 0 10px #FFF;
    }
}
.bw-top{
    text-align: right;
    max-width: 400px;
    margin: 0 auto;
    .social-title {
        margin: 10px 0;
        font-family: "Raleway";
        font-weight: 700;
        font-size: 20px;
        color: #EA3377;
        text-transform: uppercase;
        letter-spacing: 3px;
        text-shadow: 1px 1px 1px #FFF;
    }
}