.site-footer{
    background: url(../../uploads/2019/09/footer-bg.png)no-repeat center top;
    background-size: cover;
    padding: 336px 0 30px;
    margin: -336px 0 0;
    position: relative;
    z-index: 1;
    .container{
        max-width: 1030px;
        width: 95%;
        position: relative;
    }
    .flex-container {
        margin: 40px 0 0;
        @include flex(row, wrap, space-between, flex-start);
    }
}
.footer-left{
    width: 66%;
}
.footer-right {
    width: 33%;
    max-width: 280px;
    .footer-logo{
        margin: -60px 0 0;
        filter: drop-shadow(0 0 4px #000000);
    }
}
.contact-info{
    margin: 0 0 20px;
    @include flex(row,wrap,space-between,flex-start);
    p{
        margin: 0;
        text-align: center;
        font-family: "Raleway";
        font-size: 15px;
        line-height: 120%;
        font-weight: 800;
        color: #FFFFFF;
        span{
            display: block;
            font-weight: 400;
            a{
                color: #FFFFFF!important;
            }
        }
        &.phone{
            max-width: 100px ;
            width: 20%;
        }
        &.email {
            max-width: 167px;
            width: 25%;
        }
        &.location {
            max-width: 220px;
            width: 28%;
        }
    }
    .btn{
        padding: 5px 0;
    }
}
.footer-fruit{
    position: absolute;
    top: -70%;
    right: -20%;
}
.copyright, .silver{
    font-family: "Raleway";
    font-size: 12px;
    line-height: 120%;
    font-weight: 800;
    letter-spacing: 2px;
    color: #FFFFFF!important;
    a{
       color: #FFFFFF !important;
    }
}