.site-header {
    position: relative;
    background: linear-gradient(90deg, #405882, #5D7CAD);
    min-height: 38px;
    .hd-wrap{
        max-width: 1030px;
        margin: 0 auto;
        width: 95%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        @include flex(row,wrap,space-between,flex-start)
    }
    .hd-logo{
        max-width: 280px;
        width: 33.33%;
        position: relative;
        z-index: 9999;
        img{
            width: 100%;
            height: auto;
            filter: drop-shadow(0 0 4px #000000);
        }
    }
    .header-nav{
        position: relative;
        z-index: 9999;
        max-width: 595px;
        width: 66.66%;
        margin: 18px 0 0;
        border: 2px solid #FFF;
        background: #5172A7;
        border-radius: 5px;
        box-shadow: 0 0 15px #999;
    }
}
