// row and body
$width: 960px;

// COLOR
$primary-color: #B3CDE0;
$secondary-color: #6497B1;
$third-color: #04396C;
$forth-color: #04396C;
$black: #000000;
$white: #FFFFFF;

// font
$font1: Arial;
$h1-font: Arial;
$h2-font: Arial;
$p-font: Arial;
$btn-font: Arial;
