.footer-navigation {
  padding: 8px 0 8px;
  border-radius: 5px;
  background: #5172A7;
  border: 2px solid #FFF;
  box-shadow: 0 0 15px #999;
  ul {
    max-width: 585px;
    width: 100%;
    margin: 0 auto 0 0;
    padding: 0;
    list-style: none;
    @include flex(row, wrap, space-around, center)
    li {
      &:last-of-type {
        a {
          border: 0;
        }
      }
      a {
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 11px;
        color: #FFFFFF;
        line-height: 120%;
        padding: 0 14px;
        text-transform: uppercase;
        display: inline-block;
        box-sizing: border-box;
        border-right: 1px solid #728DBA;
        &:hover {
          text-shadow: 0px 0px 20px #000;
          color: #92C555;
        }
      }
    }
  }
}
