.main-navigation {
  ul {
    list-style: none;
    margin: 0;
    padding: 8px 0;
    @include flex(row,wrap,space-around,center)
    li {
      &:last-of-type{
        a{
          border: 0;
        }
      }
      a {
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 11px;
        color: #FFFFFF;
        line-height: 120%;
        padding: 0 14px;
        text-transform: uppercase;
        display: inline-block;
        box-sizing: border-box;
        border-right: 1px solid #728DBA;
      }
    }
  }
  ul li a:hover, .current-menu-item a, .current_page_item a {
    text-shadow: 0px 0px 20px #000;
    color: #92C555;
  }
  ul li:hover ul {
    visibility: visible;
    opacity: 1;
    margin-top: 0;
  }
}
