.social-navigation {
  text-align: right;
  .svg-icon {
    display: none;
  }
  ul {
    margin: 0 !important;
    list-style: none;
    display: block;
    padding: 0;
    li {
      background: #5172A5;
      transition: all .4s linear;
      border-radius: 50%;
      margin: 0 10px;
      height: 30px;
      width: 30px;
      &:hover {
        box-shadow: 0px 0px 20px #000;
        transform: rotateZ(360deg);
      }
      a {
        color: #FFF;
        &::before {
          font-size: 18px;
          position: relative;
          top: 7px;
        }
      }
    }
  }
}
