.inner #content {
  padding: 180px 0 30px;
  min-height: 800px;
  background: url(../../uploads/2019/09/gallery-bg.jpg)no-repeat center top;
  background-size: cover;
  .container{
    position: relative;
    z-index: 99999;
  }
  h1 {
    margin: 10px auto 30px;
    text-align: center;
    font-family: "Mistral";
    font-size: 44px;
    color: #5172A7;
    text-transform: uppercase;
  }
  p {
    font-family: 'Raleway', sans-serif;
    line-height: 144%;
    letter-spacing: normal;

    strong {
      font-weight: 600;
    }
  }
}
