/*
Theme Name: Berry Good Farms
Theme URI:
Author: the Development team
Author URI: https://wordpress.org/
Description: A theme for WordPress 5.
Requires at least: WordPress 4.9.6
Version: 1.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: berrygoodfarms
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Berry Good Farms is based on Underscores https://underscores.me/, (C) 2012-2018 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
html { line-height: 1.15; -webkit-text-size-adjust: 100%; }

body { font-family: 'Raleway', sans-serif; margin: 0 auto; width: 100%; min-width: 1200px; }

@media screen and (max-width: 1200px) { body { min-width: 320px; } }

/*###################################
## Layouts
###################################*/
.screen-reader-text { clip: rect(1px, 1px, 1px, 1px); position: absolute !important; word-wrap: normal !important; overflow: hidden; height: 1px; margin: -1px; padding: 0; width: 1px; border: 0; }

.wp-block-column, .blocks-gallery-item { margin: 0 !important; }

.has-1-columns .wp-block-column { -ms-flex-preferred-size: 100%; flex-basis: 100%; }

.container { width: 100%; max-width: 1600px; margin: 0 auto; padding: 0; }

.row { max-width: 1440px; margin: 0 auto; }

.cta { display: none; }

.grecaptcha-badge { z-index: 999999; }

.has-primary-color { color: #5172A7; }

.has-secondary-color { color: #6C9836; }

.has-third-color { color: #91c454; }

.has-dark-gray-color { color: #111111; }

.has-light-gray-color { color: #767676; }

.has-white-color { color: #FFF; }

.has-linear-gradient-red-color { color: #DA3A05; }

.has-primary-background-color { background-color: #5172A7; }

.has-secondary-background-color { background-color: #6C9836; }

.has-third-background-color { background-color: #91c454; }

.has-dark-gray-background-color { background-color: #111111; }

.has-light-gray-background-color { background-color: #767676; }

.has-white-background-color { background-color: #FFF; }

.has-linear-gradient-red-background-color { background: -webkit-gradient(linear, left top, left bottom, from(#DA3A05), to(#BB2F00)); background: -webkit-linear-gradient(#DA3A05, #BB2F00); background: -o-linear-gradient(#DA3A05, #BB2F00); background: linear-gradient(#DA3A05, #BB2F00); }

.wp-block-image { margin: 0 !important; }

.home #content .entry-footer { text-align: center; z-index: 9999; position: relative; }

/*###################################
## Fonts
###################################*/
a { -webkit-transition: all .5s ease; text-decoration: none !important; text-decoration: none; -o-transition: all .5s ease; transition: all .5s ease; color: #555; }

a:visited { -webkit-transition: all .5s ease; text-decoration: none !important; text-decoration: none; -o-transition: all .5s ease; transition: all .5s ease; color: #555; }

a:hover { text-shadow: 0px 0px 5px #000; }

a:focus { outline: none !important; }

h1, h2, h3 { font-family: 'Playfair Display', serif; font-weight: 400; line-height: 110%; margin: 0 auto; }

h1 { font-family: 'Raleway', sans-serif; font-size: 52px; }

h1 strong { font-weight: 600; }

h2 { font-family: 'Mistral'; font-size: 44px; }

h3 { font-size: 25px; font-weight: 700; }

p, ul, ol { font-family: 'Open Sans', sans-serif; letter-spacing: .03em; line-height: 180%; font-weight: 400; font-size: 15px; color: #535353; }

p:last-of-type { margin: 0 !important; }

@media screen and (max-width: 500px) { h1, h2 { font-size: 40px; } }

/*###################################
## Buttons
###################################*/
.wp-block-button a { text-align: center; width: 100%; max-width: 130px; display: inline-block; font-weight: 700; font-size: 14px; color: #FFF !important; letter-spacing: .2em; padding: 10px 0; border: 2px solid #FFF; border-radius: 5px; -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }

.wp-block-button a:hover { background: -webkit-gradient(linear, left top, left bottom, from(#333333), to(#000000)); background: -webkit-linear-gradient(#333333, #000000); background: -o-linear-gradient(#333333, #000000); background: linear-gradient(#333333, #000000); text-shadow: 0px 2px 3px #000; border-radius: 5px; }

.btn { text-align: center; width: 100%; max-width: 130px; display: inline-block; font-weight: 700; font-size: 14px; color: #FFF !important; letter-spacing: .2em; padding: 10px 0; background: -webkit-gradient(linear, left top, left bottom, from(#DA3A05), to(#BB2F00)); background: -webkit-linear-gradient(#DA3A05, #BB2F00); background: -o-linear-gradient(#DA3A05, #BB2F00); background: linear-gradient(#DA3A05, #BB2F00); border: 2px solid #FFF; border-radius: 5px; -webkit-box-sizing: border-box; box-sizing: border-box; }

.btn:hover { background: -webkit-gradient(linear, left top, left bottom, from(#333333), to(#000000)); background: -webkit-linear-gradient(#333333, #000000); background: -o-linear-gradient(#333333, #000000); background: linear-gradient(#333333, #000000); text-shadow: 0px 2px 3px #000; border-radius: 5px; }

/*###################################
## Search
###################################*/
.sidebar form, .error-404 form { position: relative; max-width: 700px; margin: 10px auto; }

.sidebar input[type="search"], .error-404 input[type="search"] { width: 100%; padding: 5px 10px; }

.sidebar input[type="submit"], .error-404 input[type="submit"] { background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#ccc)); background: -webkit-linear-gradient(top, #FFF, #ccc); background: -o-linear-gradient(top, #FFF, #ccc); background: linear-gradient(to bottom, #FFF, #ccc); border: 1px solid #000; position: absolute; padding: 6px; right: 0; top: 0; }

.sidebar .widget:not(:nth-of-type(1)) { background: rgba(255, 255, 255, 0.5); border-bottom: 1px solid #CCC; padding-bottom: 20px; margin-bottom: 20px; padding: 10px 20px; }

.sidebar input[type="submit"] { -webkit-transition: all .4s linear; -o-transition: all .4s linear; transition: all .4s linear; }

.error-404 input[type="submit"] { -webkit-transition: all .4s linear; -o-transition: all .4s linear; transition: all .4s linear; }

.sidebar input[type="submit"]:hover, .error-404 input[type="submit"]:hover { -webkit-box-shadow: 0px 0px 20px #000; box-shadow: 0px 0px 20px #000; }

/*###################################
## Forms
###################################*/
.ctc-hide { display: none; }

.q-form form { text-align: center; }

.q-form form br { display: none; }

.q-form form input[type="text"], .q-form form input[type="email"], .q-form form input[type="tel"] { border-radius: 50px; border: none; -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; height: 40px; margin: 0 auto 10px; padding: 10px 15px; font-family: "Raleway" , sans-serif; font-weight: 300; font-size: 16px; color: #535353; }

.q-form form textarea { border-radius: 20px; border: none; -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; height: 90px; margin: 0 auto 10px; padding: 10px 15px; font-family: "Raleway" , sans-serif; font-weight: 300; font-size: 16px; color: #535353; }

.q-form form .consent { text-align: center; font-family: 'Raleway', sans-serif; font-weight: 400; font-size: 16px; color: #FFFFFF; padding: 0; margin: 0 0 10px; }

.q-form form .consent span { margin: 0 !important; }

.q-form form .btn { max-width: 180px; padding: 11.5px 0; margin: 10px auto 0; }

/*###################################
## Menus
###################################*/
/*Main Menu*/
.main-navigation ul { list-style: none; margin: 0; padding: 8px 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; -ms-flex-pack: distribute; justify-content: space-around; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.main-navigation ul li:last-of-type a { border: 0; }

.main-navigation ul li a { font-family: 'Raleway'; font-weight: 700; font-size: 11px; color: #FFFFFF; line-height: 120%; padding: 0 14px; text-transform: uppercase; display: inline-block; -webkit-box-sizing: border-box; box-sizing: border-box; border-right: 1px solid #728DBA; }

.main-navigation ul li a:hover, .main-navigation .current-menu-item a, .main-navigation .current_page_item a { text-shadow: 0px 0px 20px #000; color: #92C555; }

.main-navigation ul li:hover ul { visibility: visible; opacity: 1; margin-top: 0; }

/*Sub Menu*/
.main-navigation ul ul { background: rgba(106, 123, 100, 0.9); -webkit-transition: all .3s linear; -o-transition: all .3s linear; transition: all .3s linear; -webkit-box-shadow: 0px 0px 2px #555; box-shadow: 0px 0px 2px #555; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 10px 5px; position: absolute; visibility: hidden; margin-top: 50px; width: 250px; display: block; opacity: 0; }

.main-navigation ul ul li { display: block; margin-right: 0; }

.main-navigation ul ul li a { padding: 10px; display: block; -webkit-box-sizing: border-box; box-sizing: border-box; }

.main-navigation ul ul li a::after, .main-navigation ul ul li a::before { display: none !important; }

.main-navigation ul ul li a:hover { background: #D7BA5A; }

/*Sub Sub Menu*/
/*Footer Menu*/
.footer-navigation { padding: 8px 0 8px; border-radius: 5px; background: #5172A7; border: 2px solid #FFF; -webkit-box-shadow: 0 0 15px #999; box-shadow: 0 0 15px #999; }

.footer-navigation ul { max-width: 585px; width: 100%; margin: 0 auto 0 0; padding: 0; list-style: none; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; -ms-flex-pack: distribute; justify-content: space-around; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.footer-navigation ul li:last-of-type a { border: 0; }

.footer-navigation ul li a { font-family: 'Raleway'; font-weight: 700; font-size: 11px; color: #FFFFFF; line-height: 120%; padding: 0 14px; text-transform: uppercase; display: inline-block; -webkit-box-sizing: border-box; box-sizing: border-box; border-right: 1px solid #728DBA; }

.footer-navigation ul li a:hover { text-shadow: 0px 0px 20px #000; color: #92C555; }

/*Social Menu*/
.social-navigation { text-align: right; }

.social-navigation .svg-icon { display: none; }

.social-navigation ul { margin: 0 !important; list-style: none; display: block; padding: 0; }

.social-navigation ul li { background: #5172A5; -webkit-transition: all .4s linear; -o-transition: all .4s linear; transition: all .4s linear; border-radius: 50%; margin: 0 10px; height: 30px; width: 30px; }

.social-navigation ul li:hover { -webkit-box-shadow: 0px 0px 20px #000; box-shadow: 0px 0px 20px #000; -webkit-transform: rotateZ(360deg); -ms-transform: rotate(360deg); transform: rotateZ(360deg); }

.social-navigation ul li a { color: #FFF; }

.social-navigation ul li a::before { font-size: 18px; position: relative; top: 7px; }

/*###################################
## Header
###################################*/
.site-header { position: relative; background: -webkit-gradient(linear, left top, right top, from(#405882), to(#5D7CAD)); background: -webkit-linear-gradient(left, #405882, #5D7CAD); background: -o-linear-gradient(left, #405882, #5D7CAD); background: linear-gradient(90deg, #405882, #5D7CAD); min-height: 38px; }

.site-header .hd-wrap { max-width: 1030px; margin: 0 auto; width: 95%; position: absolute; top: 0; left: 0; right: 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }

.site-header .hd-logo { max-width: 280px; width: 33.33%; position: relative; z-index: 9999; }

.site-header .hd-logo img { width: 100%; height: auto; -webkit-filter: drop-shadow(0 0 4px #000000); filter: drop-shadow(0 0 4px #000000); }

.site-header .header-nav { position: relative; z-index: 9999; max-width: 595px; width: 66.66%; margin: 18px 0 0; border: 2px solid #FFF; background: #5172A7; border-radius: 5px; -webkit-box-shadow: 0 0 15px #999; box-shadow: 0 0 15px #999; }

/*###################################
## Banner
###################################*/
.site-banner { position: relative; }

.site-banner .img-holder img { max-width: 100%; width: 100%; height: 750px; -o-object-fit: cover; object-fit: cover; }

.site-banner .wrapper { position: absolute; top: 5%; left: 0; right: 0; z-index: 2; max-width: 1030px; margin: 20px auto; }

.bw-text { width: 100%; max-width: 476px; margin: 0 0 0 auto; }

.bw-text h2.title { text-align: center; font-family: "Mistral"; font-size: 59px; line-height: 90%; color: #5172A5; margin: 20px 0; text-shadow: 0 0 1px #FFF, 0 0 2px #FFF, 0 0 3px #FFF, 0 0 4px #FFF, 0 0 5px #FFF, 0 0 6px #FFF, 0 0 7px #FFF, 0 0 8px #FFF, 0 0 9px #FFF, 0 0 10px #FFF; }

.bw-text p { text-align: center; font-family: 'Raleway'; font-size: 19px; font-weight: 700; line-height: 116%; letter-spacing: 3px; color: #EA3377; text-transform: uppercase; text-shadow: 0 0 1px #FFF, 0 0 2px #FFF, 0 0 3px #FFF, 0 0 4px #FFF, 0 0 5px #FFF, 0 0 6px #FFF, 0 0 7px #FFF, 0 0 8px #FFF, 0 0 9px #FFF, 0 0 10px #FFF; }

.bw-top { text-align: right; max-width: 400px; margin: 0 auto; }

.bw-top .social-title { margin: 10px 0; font-family: "Raleway"; font-weight: 700; font-size: 20px; color: #EA3377; text-transform: uppercase; letter-spacing: 3px; text-shadow: 1px 1px 1px #FFF; }

/*###################################
## Content
###################################*/
/*content1*/
#welcome { position: relative; z-index: 1; background: url(../../uploads/2019/09/content-bg.png) no-repeat center top; background-size: cover; margin: -620px 0 0; padding: 400px 0 272px; overflow-x: hidden; }

#welcome .container { position: relative; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; max-width: 1030px; width: 95%; }

.welcome-left { position: relative; z-index: 9; max-width: 567px; }

.welcome-left p { font-family: 'Raleway',sans-serif; line-height: 144%; letter-spacing: normal; }

.welcome-left p strong { font-weight: 600; }

.welcome-right { padding: 0 0 0; }

.welcome-right .q-form { position: relative; margin: 0 auto; max-width: 360px; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 20px 40px; border-radius: 5px; border: 2px solid #FFFFFF; -webkit-box-shadow: 0 0 20px -10px #333333; box-shadow: 0 0 20px -10px #333333; z-index: 9; }

.welcome-right .q-form h2 { width: 90%; margin: 0 auto; font-family: 'Raleway', sans-serif; font-weight: 600; font-size: 25px; background: #5172A7; padding: 10px 0; border-radius: 5px; border: 2px solid #FFFFFF; }

.welcome-right .fruit-image { position: absolute; bottom: -50px; right: -82px; }

.welcome-right .fruit-image img { width: 100%; }

p.welcome-phone { font-family: "Mistral"; font-weight: 400; color: #92C555; }

p.welcome-phone strong { display: inline-block; vertical-align: baseline; font-weight: 700; font-size: 30px; letter-spacing: 2px; color: #5172A6; font-family: Arial, Helvetica, sans-serif; }

p.welcome-quote { font-family: 'Mistral'; letter-spacing: normal; max-width: 900px; margin: 100px auto 0 !important; color: #111111; }

/*content2*/
#services { background: url(../../uploads/2019/09/products-bg.png) no-repeat center top; background-size: cover; padding: 0 0 70px; margin: -200px 0 0; position: relative; z-index: 1; }

#services .container { max-width: 1030px; width: 95%; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.services-panel { max-width: 284px; width: 32%; }

.services-panel .wp-block-image { -webkit-filter: drop-shadow(0 0 15px #999); filter: drop-shadow(0 0 15px #999); }

.services-panel img { width: 100%; margin: 38px 0; -webkit-box-sizing: border-box; box-sizing: border-box; border: 8px solid #FFF; }

.services-panel .service-header { position: relative; padding: 0 0 17px; font-size: 27px; line-height: 120%; min-height: 0; color: #FFFFFF; }

.services-panel .service-header .strong { font-weight: 600; }

.services-panel .service-header:after { content: ''; background: #92C555; width: 35px; height: 8px; position: absolute; bottom: 0; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); }

.services-panel.mid { max-width: 358px; }

.services-panel.mid img { margin: 0 !important; }

.services-panel p { letter-spacing: normal; line-height: 144%; color: #FFF; min-height: 140px; max-width: 250px; margin: 1em auto !important; }

.services-panel p strong { font-weight: 600; }

/*content3*/
#about-us { background: url(../../uploads/2019/09/about-bg.png) no-repeat center bottom; background-size: cover; padding: 60px 0 170px; position: relative; z-index: 9; }

#about-us .container { max-width: 960px; width: 95%; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.about-left { -ms-flex-preferred-size: 54%; flex-basis: 54%; width: 54%; max-width: 520px; }

.about-right { -ms-flex-preferred-size: 42% !important; flex-basis: 42% !important; width: 42% !important; max-width: 362px; }

.about-right h2 { font-size: 56px; color: #FFFFFF; }

.about-right p { margin: 1em auto !important; font-family: 'Raleway',sans-serif; line-height: 144%; color: #FFFFFF; letter-spacing: normal; }

.about-right p strong { font-weight: 600; }

/*content3*/
#gallery { background: url(../../uploads/2019/09/gallery-bg.jpg) no-repeat center top; background-size: cover; padding: 160px 0 120px; margin: -220px 0 -60px; }

#gallery .container { max-width: 1030px; -ms-flex-pack: distribute; justify-content: space-around; position: relative; z-index: 9; }

#gallery .wp-block-column { max-width: 284px; -ms-flex-preferred-size: 32%; flex-basis: 32%; width: 32%; }

#gallery .wp-block-image { margin: 0 0 36px !important; -webkit-box-sizing: border-box; box-sizing: border-box; border: 8px solid #FFF; -webkit-box-shadow: 0 0 10px #999; box-shadow: 0 0 10px #999; border-radius: 100%; }

#gallery img { width: 100%; margin: 0 0 -4px; }

/*###################################
## Footer
###################################*/
.site-footer { background: url(../../uploads/2019/09/footer-bg.png) no-repeat center top; background-size: cover; padding: 336px 0 30px; margin: -336px 0 0; position: relative; z-index: 1; }

.site-footer .container { max-width: 1030px; width: 95%; position: relative; }

.site-footer .flex-container { margin: 40px 0 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }

.footer-left { width: 66%; }

.footer-right { width: 33%; max-width: 280px; }

.footer-right .footer-logo { margin: -60px 0 0; -webkit-filter: drop-shadow(0 0 4px #000000); filter: drop-shadow(0 0 4px #000000); }

.contact-info { margin: 0 0 20px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }

.contact-info p { margin: 0; text-align: center; font-family: "Raleway"; font-size: 15px; line-height: 120%; font-weight: 800; color: #FFFFFF; }

.contact-info p span { display: block; font-weight: 400; }

.contact-info p span a { color: #FFFFFF !important; }

.contact-info p.phone { max-width: 100px; width: 20%; }

.contact-info p.email { max-width: 167px; width: 25%; }

.contact-info p.location { max-width: 220px; width: 28%; }

.contact-info .btn { padding: 5px 0; }

.footer-fruit { position: absolute; top: -70%; right: -20%; }

.copyright, .silver { font-family: "Raleway"; font-size: 12px; line-height: 120%; font-weight: 800; letter-spacing: 2px; color: #FFFFFF !important; }

.copyright a, .silver a { color: #FFFFFF !important; }

/*###################################
## Sidebar Blog
###################################*/
.sidebar { border: 1px solid #535353; -webkit-box-sizing: border-box; box-sizing: border-box; -ms-flex-preferred-size: 30%; flex-basis: 30%; padding: 20px; }

.sidebar h2 { font-size: 25px; margin: 0; }

.sidebar .widget_search { -webkit-box-sizing: border-box; box-sizing: border-box; background: #6A7A64; margin-bottom: 25px; padding: 20px; width: 100%; }

.sidebar .widget:last-of-type { margin-bottom: 0; }

/*###################################
## Inner Pages
###################################*/
.inner #content { padding: 180px 0 30px; min-height: 800px; background: url(../../uploads/2019/09/gallery-bg.jpg) no-repeat center top; background-size: cover; }

.inner #content .container { position: relative; z-index: 99999; }

.inner #content h1 { margin: 10px auto 30px; text-align: center; font-family: "Mistral"; font-size: 44px; color: #5172A7; text-transform: uppercase; }

.inner #content p { font-family: 'Raleway', sans-serif; line-height: 144%; letter-spacing: normal; }

.inner #content p strong { font-weight: 600; }

/*###################################
## Blog Page
###################################*/
.blog-container { padding-right: 5%; -ms-flex-preferred-size: 65%; flex-basis: 65%; }

.blog-list article { -webkit-transition: all .3s linear; -o-transition: all .3s linear; transition: all .3s linear; border: 1px solid #535353; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 20px; }

.blog-list article:not(:last-of-type) { margin-bottom: 40px; }

.blog-list article:hover { -webkit-box-shadow: 0px 0px 20px #000; box-shadow: 0px 0px 20px #000; }

.blog-title h2 { margin: 0 0 20px !important; font-size: 30px; }

.blog-header { -webkit-align-items: flex-end; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; margin-bottom: 10px; }

.blog-header p { margin: 0; }

.blog-header p span { font-style: italic; }

.blog-image { text-align: center; }

.blog-image img { -webkit-transition: all .5s linear; -o-transition: all .5s linear; transition: all .5s linear; max-width: 500px !important; height: auto !important; }

.blog-container .btn { margin-top: 10px !important; padding: 10px 20px; font-size: 13px; }

.pagination-n { text-align: right; margin-top: 15px; }

.pagination-n a { background: #D7BA5A; padding: 2px 10px; }

.pagination-n .current { background: #6A7A64; padding: 2px 10px; color: #FFF; }

@media screen and (max-width: 800px) { .blog-wrap { -webkit-flex-direction: column; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
  .blog-container { margin-bottom: 30px; padding-right: 0; } }

@media screen and (max-width: 500px) { .blog-header { -webkit-flex-direction: column; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
  .blog-header p, .blog-header h2 { text-align: center; width: 100%; }
  .blog-list article { text-align: center; }
  .blog-header h2 { font-size: 30px; }
  .blog-container .btn { margin-top: 20px !important; } }

/*###################################
## Search Page
###################################*/
.page-description { text-align: center; margin-bottom: 40px; font-weight: 700; font-size: 25px; display: block; }

.page-description::after { content: ' "'; }

.page-description::before { content: '" '; }

.search article { -webkit-transition: all .5s linear; -o-transition: all .5s linear; transition: all .5s linear; border: 1px solid #000; margin-bottom: 30px; padding: 20px; display: block; }

.search article:hover { -webkit-box-shadow: 0px 0px 20px #000; box-shadow: 0px 0px 20px #000; }

.search article:last-of-type { margin-bottom: 0; }

.search article h2 { margin: 0 0 20px; font-size: 35px; }

.search-con { padding-right: 5%; -ms-flex-preferred-size: 65%; flex-basis: 65%; }

@media screen and (max-width: 800px) { .search-wrap { -webkit-flex-direction: column; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
  .search-con { margin-bottom: 30px; padding-right: 0; } }

/*###################################
## Error Page
###################################*/
.error-404 { text-align: center; }

/*###################################
## Responsive
###################################*/
@media screen and (max-width: 1440px) { .site-footer .container { position: static; }
  .footer-fruit { top: 26%; right: 0; } }

@media screen and (max-width: 1024px) { .site-header .header-nav { width: 61%; }
  .main-navigation ul li a { padding: 0px 3px; border-right: 0; }
  #welcome .container { -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
  #welcome { padding: 465px 0 272px; }
  .welcome-left { -ms-flex-preferred-size: 50% !important; flex-basis: 50% !important; }
  .welcome-right { -ms-flex-preferred-size: 50% !important; flex-basis: 50% !important; }
  .services-panel.mid { max-width: 284px; width: 32%; }
  .services-panel img { margin: 0 !important; }
  .site-footer .flex-container { -ms-flex-pack: distribute; justify-content: space-around; }
  .footer-fruit { top: 10%; }
  .footer-left { text-align: center; -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; width: 100%; }
  .footer-right { -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; width: 100%; text-align: center; }
  .footer-right .footer-logo { margin: -40px auto 0; width: 100%; max-width: 280px; }
  .footer-navigation ul { margin: 0 auto; } }

@media screen and (max-width: 900px) { .site-banner .wrapper { top: 0%; }
  .site-banner .img-holder img { height: 630px; } }

@media screen and (max-width: 800px) { .site-banner .img-holder img { height: 670px; }
  #welcome { padding: 375px 0 40px; }
  #welcome .container { -ms-flex-wrap: wrap; flex-wrap: wrap; }
  .welcome-left { -ms-flex-preferred-size: 100% !important; flex-basis: 100% !important; max-width: 100%; -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; padding: 20px 0 0; }
  .welcome-right { -ms-flex-preferred-size: 100% !important; flex-basis: 100% !important; max-width: 100%; -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; }
  .welcome-right .q-form { padding: 20px 20px; }
  .welcome-right .fruit-image { display: none; }
  p.welcome-quote { margin: 20px auto 0 !important; font-size: 28px !important; line-height: 110%; }
  #services { background: url(../../uploads/2019/09/products-bg.png) no-repeat left bottom; background-size: cover; margin: 0; padding: 0; }
  .services-panel { margin: 0 0 20px !important; }
  .services-panel p { min-height: 0; }
  #services .container { -ms-flex-pack: distribute; justify-content: space-around; }
  #about-us { padding: 20px 0 190px; }
  #about-us .container { -ms-flex-wrap: wrap; flex-wrap: wrap; -ms-flex-pack: distribute; justify-content: space-around; }
  .about-left, .about-right { -ms-flex-preferred-size: 100% !important; flex-basis: 100% !important; width: 100%; max-width: 100%; }
  .about-left { text-align: center; }
  .about-left img { max-width: 516px; margin: 0 auto; }
  #gallery { padding: 60px 0 120px; margin: -180px 0 0; }
  .contact-info { -ms-flex-pack: distribute; justify-content: space-around; }
  .contact-info p { max-width: 100% !important; width: 35% !important; margin: 0 0 20px; }
  .contact-info a { max-width: 100% !important; width: 35% !important; margin: 0 0 20px; } }

@media screen and (max-width: 600px) { .wp-block-button { text-align: center; }
  .site-banner .img-holder img { height: 545px; }
  .bw-text { width: 95%; max-width: 100%; }
  .bw-text p { font-size: 15px; }
  .bw-top .social-title { text-align: center; font-size: 15px; }
  .bw-text h2.title { font-size: 38px; }
  .social-navigation ul { text-align: center; }
  .services-panel { text-align: center; max-width: 100%; width: 100%; }
  .services-panel img { max-width: 284px; }
  .services-panel p { max-width: 100%; }
  #gallery .wp-block-column { max-width: 305px; }
  .contact-info p { max-width: 100% !important; width: 100% !important; margin: 0 0 20px !important; }
  .contact-info a { max-width: 100% !important; width: 100% !important; } }

@media screen and (max-width: 400px) { .site-banner .img-holder img { height: 510px; } }

@media screen and (max-width: 360px) { .site-banner .img-holder img { height: 520px; } }
