.page-description {
  text-align: center;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 25px;
  display: block;
  &::after {
    content: ' "';
  }
  &::before {
    content: '" ';
  }
}

.search article {
  transition: all .5s linear;
  border: 1px solid #000;
  margin-bottom: 30px;
  padding: 20px;
  display: block;
  &:hover {
    box-shadow: 0px 0px 20px #000;
  }
  &:last-of-type {
    margin-bottom: 0;
  }
  h2 {
    margin: 0 0 20px;
    font-size: 35px;
  }
}

.search-con {
  padding-right: 5%;
  flex-basis: 65%;
}

@media screen and (max-width: 800px) {
  .search-wrap {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .search-con {
    margin-bottom: 30px;
    padding-right: 0;
  }
}
