@media screen and (max-width:1024px) {
    .site-header .header-nav {
        width: 61%;
    }
    .main-navigation ul li a {
        padding: 0px 3px;
        border-right: 0;
    }
    #welcome .container{
        align-items:center;
    }
    #welcome{
        padding: 465px 0 272px;
    }
    .welcome-left{
        flex-basis: 50%!important;
    }
    .welcome-right{
        flex-basis: 50%!important;
    }
    .services-panel.mid {
        max-width: 284px;
        width: 32%;
    }
    .services-panel img{
        margin: 0!important;
    }
    .site-footer .flex-container{
        justify-content: space-around;
    }
    .footer-fruit{top:10%}
    .footer-left{
        text-align: center;
        order: 2;
        width: 100%;
    }
    .footer-right{
        order: 1;
        width: 100%;
        text-align: center;
    }
    .footer-right .footer-logo {
        margin: -40px auto 0;
        width: 100%;
        max-width: 280px;
    }
    .footer-navigation ul{
        margin: 0 auto;
    }
}
@media screen and (max-width:900px) {
    .site-banner .wrapper {
        top: 0%;
    }
    .site-banner .img-holder img {
        height: 630px;
    }
}