@media screen and (max-width: 800px){
    .site-banner .img-holder img {
        height: 670px;
    }
    #welcome {
        padding: 375px 0 40px;
    }
    #welcome .container {
        flex-wrap: wrap;
    }
    .welcome-left {
        flex-basis: 100% !important;
        max-width: 100%;
        order:2;
        padding: 20px 0 0;
    }

    .welcome-right {
        flex-basis: 100% !important;
        max-width: 100%;
        order:1;
    }
    .welcome-right .q-form {
        padding: 20px 20px;
    }
    .welcome-right .fruit-image{
        display: none;
    }
    p.welcome-quote{
        margin: 20px auto 0!important;
        font-size: 28px!important;
        line-height: 110%;
    }
    #services {
        background: url(../../uploads/2019/09/products-bg.png) no-repeat left bottom;
        background-size: cover;
        margin: 0;
        padding: 0;
    }
    .services-panel{
        margin: 0 0 20px!important;
    }
    .services-panel p{
        min-height: 0;
    }
    #services .container{
        justify-content: space-around;
    }
    #about-us{
        padding: 20px 0 190px;
    }
    #about-us .container{
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .about-left, .about-right{
        flex-basis: 100%!important;
        width: 100%;
        max-width: 100%;
    }
    .about-left{
        text-align: center;
    }
    .about-left img{
        max-width: 516px;
        margin: 0 auto;
    }
    #gallery {
        padding: 60px 0 120px;
        margin: -180px 0 0;
    }
    .contact-info{
        justify-content: space-around;
    }
    .contact-info p {
        max-width: 100%!important;
        width: 35%!important;
        margin: 0 0 20px;
    }
    .contact-info a{
        max-width: 100% !important;
        width: 35% !important;
        margin: 0 0 20px;
    }
}