@media screen and (max-width: 600px){
    .wp-block-button {
        text-align: center;
    }
    .site-banner .img-holder img {
        height: 545px;
    }
    .bw-text {
        width: 95%;
        max-width: 100%;
    }
    .bw-text p {
        font-size: 15px;
    }
    .bw-top .social-title{
        text-align: center;
        font-size: 15px;
    }
    .bw-text h2.title {
        font-size: 38px;
    }
    .social-navigation ul{
        text-align: center;
    }
    .services-panel {
        text-align: center;
        max-width: 100%;
        width: 100%;
    }
    .services-panel img{
        max-width: 284px;
    }
    .services-panel p {
        max-width: 100%;
    }
    #gallery .wp-block-column {
        max-width: 305px;
    }
    .contact-info p {
        max-width: 100% !important;
        width: 100% !important;
        margin: 0 0 20px !important;
    }

    .contact-info a {
        max-width: 100% !important;
        width: 100% !important;
    }
}
@media screen and (max-width: 400px) {
    .site-banner .img-holder img {
        height: 510px;
    }
}
@media screen and (max-width: 360px) {
    .site-banner .img-holder img {
        height: 520px;
    }
}