#about-us{
    background: url(../../uploads/2019/09/about-bg.png)no-repeat center bottom;
    background-size: cover;
    padding: 60px 0 170px;
    .container{
        max-width: 960px;
        width: 95%;
        justify-content: space-between;
    }
    position: relative;
    z-index: 9;
}
.about-left{
    flex-basis: 54%;
    width: 54%;
    max-width: 520px;
}
.about-right{
    flex-basis: 42%!important;
    width: 42%!important;
    max-width: 362px;
    h2{
        font-size: 56px;
        color: #FFFFFF;
    }
    p{
        margin: 1em auto!important;
        font-family: 'Raleway',sans-serif;
        line-height: 144%;
        color: #FFFFFF;
        letter-spacing: normal;
        strong{
            font-weight: 600;
        }
    }
}