#services{
    background: url(../../uploads/2019/09/products-bg.png)no-repeat center top;
    background-size: cover;
    padding: 0 0 70px;
    margin: -200px 0 0;
    position: relative;
    z-index: 1;
    .container{
        max-width: 1030px;
        width: 95%;
        justify-content: space-between;
    }
}
.services-panel{
    max-width: 284px;
    width: 32%;
    .wp-block-image {
        filter: drop-shadow(0 0 15px #999);
    }
    img{
        width: 100%;
        margin: 38px 0;
        box-sizing: border-box;
        border: 8px solid #FFF;
    }
    .service-header {
        position: relative;
        padding: 0 0 17px;
        font-size: 27px;
        line-height: 120%;
        min-height: 0;
        color: #FFFFFF;
        .strong{
            font-weight: 600;
        }
        &:after{
            content: '';
            background: #92C555;
            width: 35px;
            height: 8px;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &.mid{
        max-width: 358px;
        img{
            margin: 0 !important;
        }
        
    }
    p{
        letter-spacing: normal;
        line-height: 144%;
        color: #FFF;
        min-height: 140px;
        max-width: 250px;
        margin: 1em auto!important;
        strong{
            font-weight: 600;
        }
    }
}