#welcome{
    position: relative;
    z-index: 1;
    background: url(../../uploads/2019/09/content-bg.png)no-repeat center top;
    background-size: cover;
    margin: -620px 0 0;
    padding: 400px 0 272px;
    overflow-x: hidden;
    .container{
        position: relative;
        align-items: flex-end;
        justify-content: space-between;
        max-width: 1030px;
        width: 95%;
    }
}
.welcome-left{
    position: relative;
    z-index: 9;
    max-width: 567px;
    p{
        font-family: 'Raleway',sans-serif;
        line-height: 144%;
        letter-spacing: normal;
        strong{
            font-weight: 600;
        }   
    }
}
.welcome-right{
    padding: 0 0 0;
    .q-form{
        position: relative;
        margin: 0 auto;
        max-width: 360px;
        box-sizing: border-box;
        padding: 20px 40px;
        border-radius: 5px;
        border: 2px solid #FFFFFF;
        box-shadow: 0 0 20px -10px #333333;
        z-index: 9;
        h2{
            width: 90%;
            margin: 0 auto;
            font-family: 'Raleway', sans-serif;
            font-weight: 600;
            font-size: 25px;
            background: #5172A7;
            padding: 10px 0;
            border-radius: 5px;
            border: 2px solid #FFFFFF;
        }
    }
    .fruit-image{
        position: absolute;
        bottom: -50px;
        right: -82px;
        img{
            width: 100%;
        }
    }
}
p.welcome-phone{
    font-family: "Mistral";
    font-weight: 400;
    color: #92C555;
    strong{
        display: inline-block;
        vertical-align: baseline;
        font-weight: 700;
        font-size: 30px;
        letter-spacing: 2px;
        color: #5172A6;
        font-family: Arial, Helvetica, sans-serif;
    }
}
p.welcome-quote{
    font-family: 'Mistral';
    letter-spacing: normal;
    max-width: 900px;
    margin: 100px auto 0!important;
    color: #111111;
}