#gallery{
    background: url(../../uploads/2019/09/gallery-bg.jpg)no-repeat center top;
    background-size: cover;
    padding: 160px 0 120px;
    margin: -220px 0 -60px;
    .container{
        max-width: 1030px;
        justify-content: space-around;
        position: relative;
        z-index: 9;
    }
    .wp-block-column{
        max-width: 284px;
        flex-basis: 32%;
        width: 32%;
    }
    .wp-block-image{
        margin: 0 0 36px!important;
        box-sizing: border-box;
        border: 8px solid #FFF;
        box-shadow: 0 0 10px #999;
        border-radius: 100%;
        
    }
    img{
        width: 100%;
        margin: 0 0 -4px;
    }
}
