@font-face {
    font-family: "Socialico";
    src: url("Socialico/Socialico.eot");
    src: url("Socialico/Socialico.eot?#iefix") format("embedded-opentype"),
        url("Socialico/Socialico.woff2") format("woff2"),
        url("Socialico/Socialico.woff") format("woff"),
        url("Socialico/Socialico.ttf") format("truetype"),
        url("Socialico/Socialico.svg#lobster_1.4regular") format("svg");
}
@font-face {
    font-family: 'Mistral';
    src: url('Mistral.eot');
    src: url('Mistral.eot?#iefix') format('embedded-opentype'),
        url('Mistral.woff2') format('woff2'),
        url('Mistral.woff') format('woff'),
        url('Mistral.ttf') format('truetype'),
        url('Mistral.svg#Mistral') format('svg');
    font-weight: normal;
    font-style: normal;
}
